.box-login-holder {@apply py-4 min-h-screen flex items-center; background: var(--bg-login-image) no-repeat center / cover; background-attachment: fixed;}
.box-login-captcha {
    .card-login {padding-top: 2rem;}
    h1.title {display: none;}
    .fm-group {margin-bottom: 12px;}
    .fm-action-link {margin-top: 10px;}
    .box-footer {margin-top: 1.5rem;}
}

.box-top {
    &-holder {@apply -mt-4 mb-2 flex items-center justify-between;}
    a {@apply text-sm font-medium text-primary-600;}
}

.cl-header {@apply mb-6 text-center;
    .cl-header-media {@apply mb-5 h-20 flex gap-3 items-center justify-center;
        img {@apply w-auto max-h-full;}
    }

    .title {@apply font-bold text-[var(--neutral-600)];}
    h1.title {@apply text-4xl;}
    h2.title {@apply text-3xl;}
}
