@layer tailwind-base, tailwind-utilities, primevue;

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

// @import '../../node_modules/primevue/resources/themes/lara-light-blue/theme';


// --------------------------------------------------------
// IMPORTS
// --------------------------------------------------------
@import "variables";

@import "common/header";
@import "common/menu";
@import "common/sidebar";
@import "common/footer";

@import "components/breadcrumbs";
@import "components/buttons";
@import "components/cards";
@import "components/dropdowns";
@import "components/forms";
// @import "components/forms-upload";
@import "components/grids";
@import "components/modals";
@import "components/pagination";
@import "components/tables";
@import "components/wizards";

@import "pages/login";
@import "pages/payment";


$gray-lightest          : #85858d;
$blue                   : #B7CADB;
$yellow                 : #FAF4B7;
$pink                   : #F2D1D1;
$green                  : #C4DFAA;
$indigo                 : #D9D7F1;
$orange                 : #F6D7A7;
$red                    : #FFB3B3;
$gray-lighter           : #5e5a49;


// Reset
// *, *::after, *::before {
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
// }


body {font-size: 16px; line-height: 24px; font-family: var(--font-family); color: var(--neutral-400); background-color: var(--bg-body);}

h1 {@apply text-4xl font-bold text-[var(--neutral-600)];}

a:not(.btn):not(.navbar-brand):not(.dropdown-item):not(.breadcrumb-link) {background: linear-gradient(rgb(var(--primary-600)), rgb(var(--primary-600))) no-repeat left bottom / 0px 1px; transition: background 0.2s ease;
    &:hover {background-size: 100% 1px;}
}

.content-wrapper {@apply pt-[var(--header-height)] min-h-screen flex flex-col; transition: margin 0.2s ease;
    .sidebar-open & {@apply ml-[var(--sidebar-width)];}
}
.content-holder {@apply p-12;}

.main-wrapper-full {
    .content-wrapper {@apply ml-0 pt-0;}
    .content-holder {@apply p-4;}
}

.page-header {@apply mb-6 flex items-center;
    .card-login & {@apply flex-col;}
    // &:has(h2.title) {@apply mb-6;}

    .title {@apply font-bold text-[var(--neutral-600)];}
    h1.title {@apply text-4xl;}
    h2.title {@apply text-3xl;}
    .subtitle {@apply mt-1;}
    
    .ph-action {@apply ml-auto flex flex-wrap gap-4;
        .fm-control {@apply border-none;}
        .btn {@apply px-5;
            svg {@apply h-5;}
        }
    }
}

.section-header {@apply relative mt-6 mb-4 flex gap-2 items-center after:bg-slate-300 after:h-[1px] after:grow;
    .sh-title {@apply text-xl font-bold text-[var(--neutral-600)];}
}
// .subtext {
//     @apply mt-0.5 ml-6 mb-6 text-slate-600;
// }

// Buttons
// .btn {
//     @apply px-4 inline-flex gap-2 items-center border-none rounded-lg outline-none text-base font-semibold text-[#212121] cursor-pointer;
//     .isax {
//         @apply text-xl;
//     }
//     &.btn-submit {
//         background-color: $green;
//     }
//     &.btn-show {
//         background-color: $orange;
//     }
// }


// Home
.box {
    .bx-card {
        @apply p-5 flex gap-4 items-center rounded-xl text-[#212121] cursor-pointer;
        box-shadow: 0 1px 3px 0 rgba(#212121, 0.1);
        .icon-holder {
            .isax {
                @apply text-3xl;
            }
        }
        &-name {
            @apply flex grow items-center justify-between text-xl font-bold;
            .isax {
                @apply text-2xl;
            }
        }
        &-desc {
            display: none;
        }
    }

    .bx-card {
        $colors: $blue, $yellow, $pink, $green,$indigo, $orange;
        $repeat: 26;
        @for $i from 1 through $repeat {
            &:nth-child(#{length($colors)}n + #{$i}) {
                background-color: (nth($colors, random(length($colors))));
            }
        }
    }
}


// Login
// .box-login {
//     .json-wrapper {
//         .jv-container.jv-light {
//             font-family: var(--font-family);
//         }
//         .jv-container:hover {
//             box-shadow: none;
//             border-color: #eee;
//         }
//     }
// }


// form controls
.field {}

.p-inputtext {
    @apply w-full;
}

.p-float-label {
    @apply mt-8 mb-3;
}
.p-label {
    @apply mb-3;
}

select.formkit-input {
    @apply leading-6;
}


// UI Loader
.spinner {@apply mx-auto my-10 w-12 h-12; background-color: var(--bg-spinner, #0e1726); animation: sk-rotateplane 1.2s infinite ease-in-out;}

@keyframes sk-rotateplane {
    0% { 
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    } 50% { 
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    } 100% { 
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}


.card-login {position: relative;}
.btn-float {position: absolute; top: 15px; left: 20px;}


.box-cropper {}
.box-cropper-image {
    img {margin: 0 auto;}
}


// slide-fade for cropper
.slide-fade-enter-active {
    transition: all 0.2s ease-out;
}

.slide-fade-leave-active {
    transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
    transform: translateX(20px);
    opacity: 0;
}

// fade-up for card-datatables (masters)
.fade-up-enter-active {
    transition: all 0.2s ease-out;
}

.fade-up-leave-active {
    transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1);
}

.fade-up-enter-from,
.fade-up-leave-to {
    transform: translateY(20px);
    opacity: 0;
}

.fade-left-enter-active {
    transition: all 0.2s ease-out;
}

.fade-left-leave-active {
    transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1);
}

.fade-left-enter-from,
.fade-left-leave-to {
    transform: translateX(-10px);
    opacity: 0;
}









// Stats cards
.card-stat-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    .card-wrapper {
      width: 25%;
      padding: 15px;
    }
  }
  .card-stat {
    width: 100%;
    height: 150px;
    border-radius: 6px;
    background-color: #ef4770;
    overflow: hidden;
    position: relative;
    margin-bottom: 15px;
    transition: all 0.8s ease-in;
    cursor: pointer;
    z-index: 1;
    .card-body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 15px;
      height: 100%;
    }
    &::before {
      position: absolute;
      content: "";
      width: 120px;
      height: 120px;
      border-radius: 50%;
      background: rgba(#ffffff, 0.15);
      top: 10%;
      right: -19%;
      z-index: 1;
      transition: all 0.8s ease-in;
    }
    &::after {
      position: absolute;
      content: "";
      width: 120px;
      height: 120px;
      border-radius: 50%;
      background: rgba(#ffffff, 0.15);
      bottom: -24%;
      right: -10%;
      z-index: 1;
      transition: all 0.8s ease-in;
    }
  
    i {
      font-size: 22px;
      line-height: 1;
      background-color: rgba(#000000, 0.12);
      color: #fff;
      padding: 12px;
      border-radius: 6px;
      width: 42px;
      height: 42px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 8px;
    }
    .card-value {
      color: #fff;
      font-size: 60px;
      line-height: 56px;
      font-weight: 600;
      margin-bottom: 20px;
    }
    .card-name {
      font-size: 14px;
      line-height: 22px;
      color: #e9e9e9;
      margin-bottom: 0px;
    }
    &:hover {
      // i{
      //   transform: rotate(72deg);
      // }
      box-shadow: 0px 15px 20px 6px rgba(#000000, 0.12);
      &::before {
        top: 40%;
        right: -10%;
        //animation: move1 5s ease-in 1;
      }
      &::after {
        bottom: 14%;
        right: -19%;
      }
    }
  }
  
  .stat-area {
    .card-wrapper:nth-child(4n + 1) {
      .card-stat {
        background-color: #f73967;
        &:hover {
          background-color: darken(#f73967, 10%);
        }
      }
    }
    .card-wrapper:nth-child(4n + 2) {
      .card-stat {
        background-color: #8e4cff;
        &:hover {
          background-color: darken(#8e4cff, 10%);
        }
      }
    }
    .card-wrapper:nth-child(4n + 3) {
      .card-stat {
        background-color: #2cbf9a;
        &:hover {
          background-color: darken(#2cbf9a, 10%);
        }
      }
    }
    .card-wrapper:nth-child(4n + 4) {
      .card-stat {
        background-color: #ed9a27;
        &:hover {
          background-color: darken(#ed9a27, 10%);
        }
      }
    }
  }



.box-watermark {@apply text-lg font-semibold text-center text-[var(--neutral-200)];}
.box-table-action {@apply mt-4 flex gap-1 items-center justify-center;
    .btn {@apply px-10;}
}
