@layer tailwind-base, tailwind-utilities, primevue;

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

// @import '../../node_modules/primevue/resources/themes/lara-light-blue/theme';


// --------------------------------------------------------
// IMPORTS
// --------------------------------------------------------
@import "variables";

@import "common/header";
@import "common/menu";
@import "common/sidebar";
@import "common/footer";

@import "components/alerts";
@import "components/breadcrumbs";
@import "components/buttons";
@import "components/cards";
@import "components/cards-stats";
@import "components/dropdowns";
@import "components/forms";
@import "components/forms-multiselect";
@import "components/forms-upload";
@import "components/grids";
@import "components/modals";
@import "components/pagination";
@import "components/tables";
@import "components/tags";
@import "components/togglebuttons";
@import "components/tooltips";
@import "components/wizards";

@import "pages/auction-bidding";
@import "pages/login";
@import "pages/payment";

@import "print/print";


// --------------------------------------------------------
// STYLES
// --------------------------------------------------------
// $gray-lightest          : #85858d;
// $blue                   : #B7CADB;
// $yellow                 : #FAF4B7;
// $pink                   : #F2D1D1;
// $green                  : #C4DFAA;
// $indigo                 : #D9D7F1;
// $orange                 : #F6D7A7;
// $red                    : #FFB3B3;
// $gray-lighter           : #5e5a49;


// Reset
// *, *::after, *::before {
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
// }


body {font-size: 16px; line-height: 24px; font-family: var(--font-family); color: var(--neutral-400); background-color: var(--bg-body);}

h1 {@apply text-4xl font-bold text-[var(--neutral-600)];}

a:not(.btn):not(.navbar-brand):not(.dropdown-item):not(.breadcrumb-link):not(.cm-title) {background: linear-gradient(rgb(var(--primary-600)), rgb(var(--primary-600))) no-repeat left bottom / 0px 1px; transition: color 0.2s ease, background 0.2s ease;
    &:hover {color: rgb(var(--primary-600)); background-size: 100% 1px;}

    &.link-primary {background-image: linear-gradient(rgb(var(--secondary-600)), rgb(var(--secondary-600)));}
}

.backdrop {@apply fixed inset-0 z-10 bg-black bg-opacity-40 lg:hidden;}

.content-wrapper {@apply pt-[var(--header-height)] min-h-screen flex flex-col; transition: margin 0.2s ease;}
.content-holder {@apply py-6 px-4 md:p-8 lg:p-12;}

.main-wrapper-full {
    .content-wrapper {@apply ml-0 pt-0;}
    .content-holder {@apply p-2 md:p-4;}
}
.sidebar-open.sidebar-hidden {
    .content-wrapper {@apply ml-0;}
}

.page-header {@apply mb-6 flex flex-col items-center justify-between lg:flex-row;
    .card-login & {@apply flex-col;}
    // &:has(h2.title) {@apply mb-6;}

    .title {@apply font-bold text-center text-[var(--neutral-600)] lg:text-left;}
    h1.title {@apply text-4xl;}
    h2.title {@apply text-3xl;}
    .subtitle {@apply mt-1;}
    
    .ph-action {@apply mt-4 flex flex-wrap gap-4 lg:mt-0;
        // .fm-control {@apply border-none;}
        .btn {@apply px-5;
            svg {@apply h-5;}
        }
    }

    &.centered {@apply justify-center;}
}

.section-header {@apply relative mt-6 mb-4 flex gap-2 items-center after:bg-slate-300 after:h-[1px] after:grow;
    .sh-title {@apply text-xl font-bold text-[var(--neutral-600)];}
}

.block-header {@apply mt-10 mb-4;
    h3.title {@apply text-xl font-bold text-[var(--neutral-600)];}
}




// UI Loader
.spinner {@apply mx-auto my-10 w-12 h-12; background-color: var(--bg-spinner, #0e1726); animation: sk-rotateplane 1.2s infinite ease-in-out;}

@keyframes sk-rotateplane {
    0% { 
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    } 50% { 
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    } 100% { 
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}


.card-login {position: relative;}
.btn-float {position: absolute; top: 15px; left: 20px;}


.box-cropper {}
.box-cropper-image {
    img {margin: 0 auto;}
}


// fade - backdrop
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.25s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

// slide-fade for cropper
.slide-fade-enter-active {
    transition: all 0.2s ease-out;
}

.slide-fade-leave-active {
    transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
    transform: translateX(20px);
    opacity: 0;
}

// fade-up for card-datatables (masters)
.fade-up-enter-active {
    transition: all 0.2s ease-out;
}

.fade-up-leave-active {
    transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1);
}

.fade-up-enter-from,
.fade-up-leave-to {
    transform: translateY(20px);
    opacity: 0;
}

.fade-left-enter-active {
    transition: all 0.2s ease-out;
}

.fade-left-leave-active {
    transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1);
}

.fade-left-enter-from,
.fade-left-leave-to {
    transform: translateX(-10px);
    opacity: 0;
}




.icon-info {height: 20px; display: inline-block; vertical-align: middle;
    svg {height: 100%; fill: rgb(var(--secondary-600));}
}



.box-watermark {@apply text-lg font-semibold text-center text-[var(--neutral-200)];}
.box-table-action {@apply mt-4 flex gap-1 items-center justify-center;
    .btn {@apply px-10;}
}


// --------------------------------------------------------
// PDF-VUE3
// --------------------------------------------------------
.pdf-view-holder {@apply border border-slate-300 rounded-lg overflow-hidden;}
.pdf-vue3-main {@apply bg-slate-100; width: 100%; height: 100%; overflow: auto;
    canvas {@apply border rounded-lg; margin: 8px !important; width: calc(100% - 16px) !important; box-shadow: 0 0 10px 0 rgb(0 0 0 / 0.1) !important;}
}


// --------------------------------------------------------
// RESPONSIVENESS
// --------------------------------------------------------
@media (min-width: theme('screens[lg]')) {
    .content-wrapper {
        .sidebar-open & {@apply ml-[var(--sidebar-width)];}
    }
}
