.btn-wrapper {@apply flex gap-1 flex-wrap items-center;
    &.centered {@apply justify-center}
}

.btn {@apply px-5 h-[var(--fm-height)] inline-flex gap-2 items-center justify-center rounded-[var(--fm-border-radius)] whitespace-nowrap transition-all duration-200;
    svg {@apply w-auto h-4;}

    &:focus {box-shadow: none; outline: none;}

    &.btn-sm {@apply h-[var(--fm-height-sm)] text-sm;}

    &-long {@apply px-10;}
}

.btn-primary {@apply text-white bg-primary-400; box-shadow: 0 10px 20px -10px rgb(var(--primary-400) / 0.6);
    svg {@apply fill-white;}
    &:hover, &:focus {@apply bg-primary-600; box-shadow: 0 10px 20px -10px rgb(var(--primary-400) / 0);}
}

.btn-secondary {@apply text-white bg-secondary-400;
    svg {@apply fill-white;}
    &:hover, &:focus {@apply bg-secondary-600;}
}

.btn-warning {@apply text-white bg-amber-500;
    svg {@apply fill-white;}
    &:hover, &:focus {@apply bg-amber-600;}
}

.btn-danger {@apply text-white bg-rose-500;
    svg {@apply fill-white;}
    &:hover, &:focus {@apply bg-rose-600;}
}

.btn-grey {@apply text-white bg-slate-400; box-shadow: none;
    svg {@apply fill-white;}
    &:hover, &:focus {@apply bg-slate-500; box-shadow: none;}
}

.btn-violet {@apply text-white bg-violet-500; box-shadow: none;
    svg {@apply fill-white;}
    &:hover, &:focus {@apply bg-violet-600; box-shadow: none;}
}

.btn-outline {@apply border bg-transparent;
    &.btn-danger {@apply border-rose-500 bg-rose-100 text-rose-600;
        &:hover, &:focus {@apply bg-rose-200;}
    }
}
