.card {@apply p-8 rounded-[var(--border-radius)] bg-white shadow;
    &-header {@apply mb-5 flex gap-2 items-center;
        .ch-title {@apply text-xl font-bold text-[var(--neutral-600)];}
    }

    .fm-action {
        .btn {@apply px-8;}
    }
}

.card-login {@apply mx-auto pt-8 px-6 w-[500px] max-w-full rounded-xl bg-white shadow md:pt-10 md:px-10;
    #forgot-password & {@apply w-[600px];}
    #registration &, #bidder-details & {@apply w-[1080px];
        .page-header {@apply mb-6;}
    }

    .page-header {@apply mb-2 text-center;}
    .fm-action {@apply justify-center;
        .btn {@apply px-16;}
    }
}

.card-add-entry {@apply mb-10;}

.box-preview-wrapper {}
.bp-title {@apply mb-2 text-lg font-bold;}

.box-section {--padding-block: 12px; --padding-inline: 18px; @apply mb-6 border rounded-[var(--border-radius)] bg-white overflow-hidden;
    &:last-child {@apply mb-0;}
    &:not(:has(.bs-header)) .bs-item-holder {margin-top: -1px;}

    .bs-header {@apply flex items-center rounded-t-md border-b text-xl font-medium text-[var(--neutral-600)] bg-slate-100; padding: 14px var(--padding-inline);
        .bs-action {@apply ml-auto flex flex-wrap gap-4;
            .btn {@apply px-5;
                svg {@apply h-4;}
            }
        }
    }
    .bs-title {@apply rounded-t-md text-xl font-medium text-[var(--neutral-600)] bg-slate-100; padding: 14px var(--padding-inline);}
    
    .bs-item-image-holder {@apply grid grid-cols-1 lg:grid-cols-[1fr_200px];
        > [class*="bs-item-"] {@apply relative;
            &:before {position: absolute; top: 0; bottom: 0; right: -1px; content: ''; width: 1px; background: var(--border-color);}
            &:after {position: absolute; bottom: 0px; left: 0; right: 0; content: ''; height: 1px; background: var(--border-color);}
        }
    }
    .bs-item-holder {@apply grid grid-cols-12 overflow-hidden;}
    .bs-item-image {@apply flex items-center justify-center; padding: var(--padding-block) var(--padding-inline);}
    // .bs-item-buttons {@apply border-t; padding: var(--padding-block) var(--padding-inline);}

    .bs-image {@apply w-36 h-36;
        img {@apply w-full h-full object-contain font-semibold text-center text-[var(--neutral-200)];}
    }
    .bs-item {@apply relative flex flex-col; padding: var(--padding-block) var(--padding-inline);
        &:before {position: absolute; top: 0; bottom: 0; right: -1px; content: ''; width: 1px; background: var(--border-color);}
        &:after {position: absolute; bottom: 0px; left: 0; right: 0; content: ''; height: 1px; background: var(--border-color);}
        > *:first-child {
            &:after {position: absolute; top: -1px; left: 0; right: 0; content: ''; height: 1px; background: var(--border-color);}
        }
    }
    .bs-label {@apply text-sm text-[var(--neutral-300)];}
    .bs-value {@apply text-[var(--neutral-600)];}
    .bs-buttons {@apply flex gap-1 flex-wrap justify-center;
        &.bs-buttons-left {
            @apply justify-start;
        }
        .btn-sm {@apply px-7 text-sm;}
    }
    
    &.box-section-light {
        @apply bg-white;
    }
}

.card-role-holder {@apply flex gap-8 flex-wrap justify-center;}
.card-role {
    --spacing: 10px;
}
$roleColors: #2776ea, #bd62f8, #fa6977, #29d1e1, #05a475;
.card-role {@apply relative px-8 py-8 rounded-lg bg-white shadow cursor-pointer; width: 340px; overflow: hidden;
    &:before {position: absolute; top: 0; left: 0; content: ''; width: 200%; height: 200%;
        background: linear-gradient(to top,
            transparent 0, transparent var(--spacing),
            rgb(var(--primary-600)) var(--spacing), rgb(var(--primary-600)) calc(2 * var(--spacing)),
            transparent calc(2 * var(--spacing)), transparent calc(3 * var(--spacing)),
            rgb(var(--primary-600)) calc(3 * var(--spacing)), rgb(var(--primary-600)) calc(4 * var(--spacing)),
            transparent calc(4 * var(--spacing)), transparent calc(5 * var(--spacing)),
            rgb(var(--primary-600)) calc(5 * var(--spacing)), rgb(var(--primary-600)) calc(6 * var(--spacing)),
            rgb(var(--primary-600)) 100%);
        transform: translate3d(-100%, -100%, 0) rotate3d(0, 0, 1, -45deg); transition: transform 0.7s ease;}
    
    @for $i from 1 through length($roleColors) {
        &:nth-child(5n + #{$i}) {
            .cr-icon {
                svg {fill: nth($roleColors, $i); background-color: rgba(nth($roleColors, $i), 0.1);}
            }
        }
    }
    .cr-content {@apply relative;}
    .cr-icon {@apply mt-3 mb-8 text-center;
        svg {@apply w-auto h-[70px] inline-block rounded-lg fill-[var(--neutral-400)]; padding: 16px; transition: fill 0.3s ease;}
    }
    .cr-title {@apply mb-2 text-2xl font-bold text-center text-[var(--neutral-600)]; transition: color 0.3s ease;}
    .cr-text {@apply text-center line-clamp-3; transition: color 0.3s ease;}
    .cr-action {@apply mt-6 text-center;}
    .btn {@apply px-8 whitespace-nowrap text-sm 2xl:text-base; transition: all 0.3s ease;}

    &:hover {
        &:before {transform: translate3d(-20%, -20%, 0) rotate3d(0, 0, 1, -45deg)}

        .cr-icon {
            svg {@apply bg-white bg-opacity-20 fill-white;}
        }
        .cr-title {@apply text-white;}
        .cr-text {@apply text-white text-opacity-70;}
        .btn {@apply text-primary-400 bg-white;}
    }
}

.card-master {@apply cursor-pointer;
    .cm-title {@apply mb-2 text-2xl font-bold text-[var(--neutral-400)];}
    .cm-content {@apply text-[15px] text-[var(--neutral-300)];}
}
