.fm-group {@apply relative mb-4 flex flex-col;
    // small {@apply mt-2 text-[13px] leading-5 text-[var(--neutral-300)];}

    .fm-error {@apply mt-0.5 text-[13px] leading-6 font-medium text-[var(--danger-400)];}
    .fm-info {@apply mt-1 text-[13px] leading-5 text-[var(--neutral-300)];}
}


.fm-label-holder {@apply mb-1 flex gap-2 items-center justify-between;
    .fm-label {@apply mb-0;}
    a {@apply text-sm font-medium text-primary-600;}
}
.fm-label {@apply mb-1 text-sm font-semibold;
    .required & {
        &:after {@apply text-red-600; content: '*';}
    }
}


.fm-inner {@apply relative;
    [class*="fm-icon"] {@apply absolute top-0 px-3.5 w-11 h-full pointer-events-none *:fill-[var(--neutral-200)];
        &.fm-prefix {@apply left-0;}
        &.fm-suffix {@apply right-0;}

        &:hover {@apply *:fill-[var(--neutral-400)];}
    }

    &:has(.fm-prefix) .fm-control {@apply pl-10;}
    &:has(.fm-suffix) .fm-control {@apply pr-10;}

    .fm-icon-action {@apply cursor-pointer pointer-events-auto;}
}


.fm-control {@apply px-4 py-3 h-[var(--fm-height)] w-full border border-[var(--fm-border-color)] rounded-[var(--fm-border-radius)] text-[15px] bg-white;
    &::placeholder {@apply text-[var(--neutral-200)];}
    &:focus {@apply border-blue-500 outline-none; box-shadow: 0 0 0 1px theme('colors.blue[500]');}

    .fm-control-disabled {@apply opacity-60 select-none pointer-events-none cursor-default;}
}
textarea.fm-control {@apply pt-[0.55rem] min-h-20;}
.fm-select {@apply flex gap-2 cursor-pointer;
    .fm-select-label {@apply block flex-auto leading-5 whitespace-nowrap text-ellipsis overflow-hidden focus:outline-none focus:shadow-none;/* min-width: 0;*/}
    .fm-select-placeholder {@apply text-[var(--neutral-200)];}
    .fm-select-trigger {@apply flex items-center;}

    &.fm-select-disabled {@apply opacity-60 pointer-events-none cursor-default;}
}

.fm-check-holder {@apply flex flex-wrap gap-x-5 gap-y-2 items-center;
    &.fm-check-vertical {@apply flex-col items-start;}
    &.fm-check-center {@apply mx-auto justify-center w-3/4;}
}
.fm-checkbox, .fm-radiobox {@apply flex;
    label {@apply ml-2 text-[15px] cursor-pointer;}
}
.fm-box {@apply w-6 h-6 flex items-center justify-center border border-[var(--fm-border-color)] rounded-[var(--fm-border-radius)] transition-colors duration-200;
    &-control {@apply w-full h-full absolute top-0 left-0 z-10 p-0 m-0 opacity-0 outline-none appearance-none cursor-pointer;}
    &-checked {@apply border-primary-400 bg-primary-400;}
    
    &-holder {@apply relative w-6 h-6 inline-flex align-bottom cursor-pointer select-none;}

    
}

.fm-radiobox {
    .fm-box {@apply rounded-full;}
    .fm-box-icon {@apply w-3 h-3 rounded-full bg-transparent transition-colors duration-200;}

    .fm-box-checked {
        .fm-box-icon {@apply bg-white;}
    }
}


.fm-input-group-holder {@apply flex gap-3 items-center;
    .fm-input-group {@apply grow;}
    > button {@apply text-sm whitespace-nowrap;}
}
.fm-input-group {@apply flex;
    .fm-inner {@apply grow;}
    button {@apply text-sm whitespace-nowrap first:rounded-r-none last:rounded-l-none;}
    &:has(.fm-input-group-addon) {
        // .fm-control {@apply first:rounded-r-none first:border-r-0 last:rounded-l-none last:border-l-0;
        //     &:not(:first-child):not(:last-child) {@apply border-x-0 rounded-none;}
        // }
        .fm-inner {
            &:first-child {
                .fm-control {@apply rounded-r-none border-r-0;}
            }
            &:last-child {
                .fm-control {@apply rounded-l-none border-l-0;}
            }
            &:not(:first-child):not(:last-child) {
                .fm-control {@apply border-x-0 rounded-none;}
            }
        }

        [data-pc-name="fileupload"] {
            .fm-upload {@apply first:rounded-r-none first:border-r-0; box-shadow: inset 0 1px 0 0 var(--fm-border-color), inset 0 -1px 0 0 var(--fm-border-color);}
        }
    }
}


.fm-action {@apply pt-2 col-span-full flex flex-wrap gap-2 items-center;
    &.fm-action-center {@apply justify-center;}
}

.fm-action-link {@apply mt-4 col-span-full text-center;
    a {@apply text-sm font-medium text-primary-600;}
}


// .fm-custom-controller {
//     @apply py-5 flex items-center justify-center;
// }

// .fm-group-table {
//     @apply mb-0 w-full;
// }

// .custom-file-upload {
//     @apply flex items-center h-[var(--fm-height)] gap-3;
// }

// .custom-dropdown {
//     @apply h-[var(--fm-height)] w-full border border-[var(--neutral-200)] rounded-[var(--fm-border-radius)] text-[15px];
//     &::placeholder {@apply text-[var(--neutral-200)];}
//     &:focus {@apply border-blue-500 outline-none; box-shadow: 0 0 0 1px theme('colors.blue[500]');}
//     span {
//         @apply leading-6;
//     }
// }

// @media (min-width: 768px) {
//     .custom-dropdown { 
//         @apply w-full;
//     }
// }
