.modal {@apply max-h-[90vh];
    &-title {@apply text-[var(--neutral-600)];}
    &-action {@apply mt-6 flex gap-1 items-center justify-center;
        .btn {@apply px-12;}
    }
    &-subtitle {@apply text-[--neutral-500] text-xl mb-2 font-bold;
        span {@apply font-medium}
    }

    .mt-icons {@apply flex;}
}

.modal-confirm {@apply relative bg-white overflow-hidden; width: 30rem;
    // .modal-icon {@apply absolute -top-[10%] -left-[15%] w-auto h-[300px] fill-red-600 opacity-5;}
    .modal-title {@apply relative pt-14 pb-0 justify-center text-center bg-transparent;}
    .mt-text {@apply mb-4 text-3xl font-semibold;}
    .modal-body {@apply relative pt-0 pb-10 text-xl text-center bg-transparent;}
    .modal-footer {@apply relative pb-8 flex-row-reverse justify-center bg-transparent;
        .btn {@apply px-8;}
    }

    &[class*="modal-confirm-"] {
        &:before {position: absolute; top: 50%; left: -15%; content: ''; margin-top: -150px; width: 300px; height: 300px; background-position: center; background-repeat: no-repeat; background-size: contain; opacity: 0.05;}
    }
    &.modal-confirm-success {box-shadow: inset 0 8px 0 0 theme('colors.primary[600]');
        &:before {background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%233cab40' viewBox='0 0 512 512'%3E%3Cpath d='M243.5 37.3c8-3.4 17-3.4 25 0l176.7 75c11.3 4.8 18.9 15.5 18.8 27.6c-.5 94-39.4 259.8-195.5 334.5c-7.9 3.8-17.2 3.8-25.1 0C87.3 399.6 48.5 233.8 48 139.8c-.1-12.1 7.5-22.8 18.8-27.6l176.7-75zM281 7.8c-16-6.8-34-6.8-50 0L54.3 82.8c-22 9.3-38.4 31-38.3 57.2c.5 99.2 41.3 280.7 213.6 363.2c16.7 8 36.1 8 52.8 0C454.7 420.7 495.5 239.2 496 140c.1-26.2-16.3-47.9-38.3-57.2L281 7.8zm82.3 195.5c6.2-6.2 6.2-16.4 0-22.6s-16.4-6.2-22.6 0L224 297.4l-52.7-52.7c-6.2-6.2-16.4-6.2-22.6 0s-6.2 16.4 0 22.6l64 64c6.2 6.2 16.4 6.2 22.6 0l128-128z'/%3E%3C/svg%3E%0A");}
    }
    &.modal-confirm-warning {box-shadow: inset 0 8px 0 0 theme('colors.amber[500]');
        &:before {background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f59e0b' viewBox='0 0 512 512'%3E%3Cpath d='M34.5 420.4c-1.6 2.8-2.5 6-2.5 9.3c0 10.2 8.2 18.4 18.4 18.4H461.6c10.2 0 18.4-8.2 18.4-18.4c0-3.3-.9-6.4-2.5-9.3L276.5 75.8C272.2 68.5 264.4 64 256 64s-16.2 4.5-20.5 11.8L34.5 420.4zM6.9 404.2l201-344.6C217.9 42.5 236.2 32 256 32s38.1 10.5 48.1 27.6l201 344.6c4.5 7.7 6.9 16.5 6.9 25.4c0 27.8-22.6 50.4-50.4 50.4H50.4C22.6 480 0 457.4 0 429.6c0-8.9 2.4-17.7 6.9-25.4zM256 160c8.8 0 16 7.2 16 16V304c0 8.8-7.2 16-16 16s-16-7.2-16-16V176c0-8.8 7.2-16 16-16zM232 384a24 24 0 1 1 48 0 24 24 0 1 1 -48 0z'/%3E%3C/svg%3E%0A");}
    }
    &.modal-confirm-danger {box-shadow: inset 0 8px 0 0 theme('colors.red[600]');
        &:before {background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc2626' viewBox='0 0 448 512'%3E%3Cpath d='M306.8 6.3C311.4 2.2 317.3 0 323.4 0c17.2 0 29.2 17.1 23.4 33.3L278.7 224H389c14.9 0 27 12.1 27 27c0 7.8-3.3 15.1-9.1 20.3L141.1 505.8c-4.5 4-10.4 6.2-16.5 6.2c-17.2 0-29.2-17.1-23.5-33.3L169.3 288H57.8C43.6 288 32 276.4 32 262.2c0-7.4 3.2-14.4 8.7-19.3L306.8 6.3zm.5 42.4L74.1 256H192c5.2 0 10.1 2.5 13.1 6.8s3.7 9.7 2 14.6L140.6 463.6 375.8 256H256c-5.2 0-10.1-2.5-13.1-6.8s-3.7-9.7-2-14.6l66.4-186z'/%3E%3C/svg%3E%0A");}
    }
}

.modal-cropper {@apply w-[500px];}

.modal-calendar {
    .modal-body {overflow: visible;}
}
