:root {
    --table-background      : #fff;
    --table-border          : theme('colors.slate[300]');
    --table-border-light    : theme('colors.slate[200]');

    --table-th-p-block      : 15px;
    --table-td-p-block      : 12px;
    --table-p-inline        : 20px;
}

// .p-datatable {
//     .p-paginator {@apply flex items-center;
//         &-left-content {@apply grow;}
//         &-current {@apply mr-auto text-sm text-[var(--neutral-300)];}
//         .p-link {@apply px-2 h-10 rounded; min-width: 32px; border: 2px solid transparent;
//             &:hover {@apply bg-white; border-color: var(--table-border);}

//             &.p-disabled {@apply text-[var(--neutral-200)];}
//             &.p-highlight {@apply text-white/* border-[var(--primary-600)]*/ bg-[var(--primary-400)];}
//         }
//     }
//     .p-paginator-top {
//         &:first-child, &:nth-child(2) {@apply mb-3;
//             .p-paginator-pages, .p-link, .p-paginator-current {@apply hidden;}
//         }
//         &:not(:first-child):not(:nth-child(2)) {@apply mt-3;
//             .p-paginator-left-content, .p-dropdown {@apply hidden;}
//         }
//     }

//     .p-dropdown-label {@apply w-10;}
// }

.table-wrapper {--fm-border-color: var(--table-border); @apply relative;}

.table {@apply w-full border-spacing-0 border-separate rounded-lg; border: 1px solid var(--table-border);
    thead tr th {@apply bg-slate-100;}
    &-column-sortable {@apply cursor-pointer hover:bg-slate-200;}
}

.table-custom {
    .p-datatable-table {border: 2px solid var(--table-border); border-radius: 8px; border-collapse: separate;}
    .p-sortable-column-icon {@apply ml-2;}
    .p-sortable-column-badge {@apply ml-1;}
    thead tr th {padding: var(--table-th-p-block) var(--table-p-inline); border-bottom: 1px solid var(--table-border-light); border-right: 1px solid var(--table-border-light);
        &:first-child {border-top-left-radius: 8px;}
        &:last-child {border-right: none; border-top-right-radius: 8px;}
    }
    tbody tr {
        &:last-child {
            td {border-bottom: none;
                &:first-child {border-bottom-left-radius: 8px;}
                &:last-child {border-bottom-right-radius: 8px;}
            }
        }
        td {padding: var(--table-td-p-block) var(--table-p-inline); border-bottom: 1px solid var(--table-border-light); border-right: 1px solid var(--table-border-light); font-size: 15px; line-height: 22px;
            &:last-child {border-right: none;}
        }
    }
}
