@layer tailwind-base, tailwind-utilities, primevue;

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

@import '../../node_modules/primevue/resources/themes/lara-light-blue/theme';


// Variables
$gray-lightest          : #85858d;
$blue                   : #B7CADB;
$yellow                 : #FAF4B7;
$pink                   : #F2D1D1;
$green                  : #C4DFAA;
$indigo                 : #D9D7F1;
$orange                 : #F6D7A7;
$red                    : #FFB3B3;
$gray-lighter           : #5e5a49;

:root {
    --font-family           : 'DM Sans', sans-serif;
}


// Reset
// *, *::after, *::before {
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
// }


// Body
body {
    font-family: var(--font-family);
}

.wrapper {
    height: calc(100vh - 72px);
}


// Buttons
.btn {
    @apply px-4 inline-flex gap-2 items-center border-none rounded-lg outline-none text-base font-semibold text-[#212121] cursor-pointer;
    .isax {
        @apply text-xl;
    }
    &.btn-submit {
        background-color: $green;
    }
    &.btn-show {
        background-color: $orange;
    }
}


// Home
.box {
    .bx-card {
        @apply p-5 flex gap-4 items-center rounded-xl text-[#212121] cursor-pointer;
        box-shadow: 0 1px 3px 0 rgba(#212121, 0.1);
        .icon-holder {
            .isax {
                @apply text-3xl;
            }
        }
        &-name {
            @apply flex grow items-center justify-between text-xl font-bold;
            .isax {
                @apply text-2xl;
            }
        }
        &-desc {
            display: none;
        }
    }

    .bx-card {
        $colors: $blue, $yellow, $pink, $green,$indigo, $orange;
        $repeat: 26;
        @for $i from 1 through $repeat {
            &:nth-child(#{length($colors)}n + #{$i}) {
                background-color: (nth($colors, random(length($colors))));
            }
        }
    }
}


// Login
.box-login {
    --fk-max-width-input: 100%;
    @apply mt-4;

    .json-wrapper {
        .jv-container.jv-light {
            font-family: var(--font-family);
        }
        .jv-container:hover {
            box-shadow: none;
            border-color: #eee;
        }
    }
}


// form controls
.field {}

.p-inputtext {
    @apply w-full;
}

.p-float-label {
    @apply mt-8 mb-3;
}
.p-label {
    @apply mb-3;
}

select.formkit-input {
    @apply leading-6;
}


// Footer
.box-footer {
    box-shadow: 0 -8px 16px rgba(#212121, 0.04);
}
