#header {@apply fixed top-0 left-0 right-0 z-20 h-[var(--header-height)] flex bg-white; box-shadow: 0 1px 0 0 var(--border-color);}

.navbar-brand {@apply px-6 py-4 h-full;
    img {@apply w-auto max-h-full;}
}

.header-right {@apply ml-auto pl-5 pr-1 flex flex-grow items-center justify-between border-l border-[var(--border-color)];}

.btn.btn-sidebar-toggle {@apply relative h-14 border-none hover:bg-slate-200;
    &:before {content: ''; position: absolute; top: 18%; left: 14%; width: 2px; height: 0%; background: var(--neutral-400); box-shadow: 0 0 0 2px var(--bg-body); transform: rotate3d(0, 0, 1, -50deg); transform-origin: 0 0; transition: box-shadow 0.2s ease, height 0.1s ease;}
    svg {@apply h-8 fill-[var(--neutral-400)];}

    &:hover {
        &:before {box-shadow: 0 0 0 2px theme('colors.slate[200]');}
    }

    .sidebar-open & {
        &:before {height: 100%;}
    }
}
