#header {@apply fixed top-0 left-0 right-0 z-20 h-[var(--header-height)] flex bg-white; box-shadow: 0 1px 0 0 rgb(0 0 0 / 0.09);}// var(--border-color)

.navbar-brand {@apply px-4 py-4 h-full lg:px-6;
    img {@apply w-auto max-h-full;}
    .logo {@apply hidden lg:block;}
    .icon {@apply lg:hidden}
}

.header-right {@apply ml-auto pl-3 pr-1 flex gap-5 flex-grow items-center justify-between border-l border-[var(--border-color)] lg:pl-5;}

.btn.btn-sidebar-toggle {@apply relative px-3 h-12 border-none hover:bg-slate-200 lg:h-14;
    &:before {content: ''; position: absolute; top: 18%; left: 14%; width: 2px; height: 0%; background: var(--neutral-400); box-shadow: 0 0 0 2px var(--bg-body); transform: rotate3d(0, 0, 1, -50deg); transform-origin: 0 0; transition: box-shadow 0.2s ease, height 0.1s ease;}
    svg {@apply h-6 fill-[var(--neutral-400)] lg:h-8;}

    &:hover {
        &:before {box-shadow: 0 0 0 2px theme('colors.slate[200]');}
    }

    .sidebar-open & {
        &:before {height: 100%;}
    }
}

.navbar-title {@apply text-lg font-bold text-[var(--neutral-300)];}


// --------------------------------------------------------
// RESPONSIVENESS
// --------------------------------------------------------
@media (min-width: theme('screens[lg]')) {}
